{% extends 'base.html.twig' %}

{% block title %}New AppreciationGenerale{% endblock %}

{% block body %}
    <h1>Create new AppreciationGenerale</h1>

    {{ include('appreciation_generale/_form.html.twig') }}

    <a href="{{ path('appreciation_generale_index') }}">back to list</a>
{% endblock %}
