<form method="post" action="{{ path('prof_delete', {'id': prof.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prof.id) }}">
    <button class="btn btn-danger float">Supprimer</button>
</form>
